<h1>Riddle of the Sphinx</h1>

<p><%= @question1 %></p>

<form  action="/output" method="post">
  <div class="form-group">
    <label for="num_1">How do you answer:</label>
    <!-- <input type="hidden" name="sphinx" value="<%= @sphinx %>"> -->
    <input  name="answer" class="form-control" type="text">
  </div>
  <button name="submit" type="submit" class="btn">Answer</button>
</form>
